{% extends 'base.html' %}

{% block title %}
    Holy Bible
{% endblock %}

{% block content %}

<div class="custom_container mt-5 mb-5">
    <div class="text-center">
        <h1>Welcome to the Holy Bible App</h1>
        <p class="lead">Explore the Holy Scriptures</p>
    </div>
    
    <form action="{{ url_for('search') }}" method="post" class="mt-4">
        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <label for="bookDropdown" class="form-label">Select a Book:</label>
                <select class="form-select" id="bookDropdown" name="book_name" onchange="populateChapters()">
                    <option value="" selected disabled>-- Select a book --</option>
                    <optgroup label="Old Testament">
                        {% for book in books[:39] %}
                            <option value="{{ book }}">{{ book }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="New Testament">
                        {% for book in books[39:] %}
                            <option value="{{ book }}">{{ book }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="chapterDropdown" class="form-label">Select a Chapter:</label>
                <select class="form-select" id="chapterDropdown" name="chapter" onchange="populateVerses()">
                    <option value="" selected disabled>-- Select a chapter --</option>
                    <!-- Options for chapters go here -->
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="verseDropdown" class="form-label">Select a Verse:</label>
                <select class="form-select" id="verseDropdown" name="verse">
                    <option value="" selected disabled>-- Select a verse --</option>
                    <!-- Options for verses go here -->
                </select>
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Select</button>
        </div>
    </form>

    <div class="d-flex justify-content-center mt-4">
        <a href="/search" class="btn btn-secondary mx-2">Search Scriptures</a>
        <!-- <a href="/bookmarks" class="btn btn-info mx-2">View Bookmarks</a>
        <a href="/notes" class="btn btn-warning mx-2">View Notes</a> -->
    </div>
</div>

<script>
    let chapters = {{ chapters|tojson }};
    let verses = {{ verses|tojson }};
    let bookSelect = document.getElementById("bookDropdown");
    let chapterSelect = document.getElementById("chapterDropdown");
    let verseSelect = document.getElementById("verseDropdown");

    const populateChapters = () => {
        chapterSelect.innerHTML='<option value="">Select a chapter</option>';
        verseSelect.innerHTML='<option value="">Select a verse</option>';

        let selectedBook = bookSelect.value;
        if (selectedBook) {
            let selectedChapters = chapters[selectedBook] || [];
            selectedChapters.forEach(function(chapter){
                let option = document.createElement("option");
                option.value = chapter;
                option.text = chapter;
                chapterSelect.appendChild(option);
            });
        }
    }

    const populateVerses = () => {
        verseSelect.innerHTML='<option value="">Select a verse</option>';

        let selectedChapter = chapterSelect.value;
        if (selectedChapter) {
            let selectedVerses = verses[selectedChapter] || [];
            selectedVerses.forEach(function(verse){
                let option = document.createElement("option");
                option.value = verse;
                option.text = verse;
                verseSelect.appendChild(option);
            });
        }
    }

</script>

{% endblock %}
