<nav class="navbar navbar-expand-sm bg-bg-body-tertiary sticky-top glass">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/cross.jpg') }}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Holy Bible
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link c-link {% if request.path == url_for('home') %}active{% endif %}" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link c-link {% if active_page == versions %}active{% endif %}" href="#">Scripture Versions</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link c-link {% if active_page == 'about' %}active{% endif %}" href="{{ url_for('about') }}#contact">Reach Out</a>-->
                    <a class="nav-link c-link" href="{{ url_for('about') }}#contact">Reach Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link c-link {% if request.path == url_for('about') %}active{% endif %}" href="{{ url_for('about') }}">About Us</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                {% if request.endpoint not in ['about'] %}
                <form method="POST" action="{{ url_for('search') }}" class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search the Scriptures..." aria-label="Search" name="searched" style="width: 150px; padding: 0.25rem 0.5rem; font-size: 14px;">
                    <button class="btn btn-outline-secondary btn-sm" type="submit">Seek</button>
                </form>
                {% endif %}

                <!-- Dark Mode Toggle -->
                <div class="form-check form-switch mx-4">
                    <input 
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="flexSwitchCheckChecked"
                      onclick="toggleTheme()"
                    >
                    <label class="form-check-label" for="flexSwitchCheckChecked" id="darkModeLabel">Light Mode</label>
                </div>
            </div>
        </div>
    </div>
</nav>
