<nav class="navbar navbar-expand-sm bg-bg-body-tertiary sticky-top glass">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Holy Bible
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-sm-0">
                {% if request.endpoint not in ['home'] %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Versions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
            </ul>
            {% if request.endpoint not in ['about'] %}
            <form method="POST" action="{{ url_for('search') }}" class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search a bible verse..." aria-label="Search" name="searched" style="width: 150px; padding: 0.25rem 0.5rem; font-size: 14px;">
                <button class="btn btn-outline-secondary btn-sm" type="submit">Search</button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>
