{% extends 'base.html' %}

{% block title %}
Search
{% endblock %}

{% block content %}

<div class="container text-center mt-5">
    <h1 class="display-4">Seek and You Shall Find</h1>
    <p>It appears that there is nothing here at the moment. But remember, "For I know the plans I have for you," declares the Lord, "plans to prosper you and not to harm you, plans to give you hope and a future." – Jeremiah 29:11</p>
    <p class="lead">Feel free to continue exploring or return to the homepage to discover more of the Scriptures.</p>
    <a href="/" class="btn btn-outline-secondary">Return to Homepage</a>
</div>

{% endblock %}
