* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color-light: #ECF0F1;
    --secondary-color-light: #2C3E50;
    --accent-color-light: #007bff;

    --primary-color-dark: #1A252F;
    --secondary-color-dark: #ECF0F1;
    --accent-color-dark: #0056b3;
}

body[data-bs-theme='light'] {
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --accent-color: var(--accent-color-light);
}

body[data-bs-theme='dark'] {
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --accent-color: var(--accent-color-dark);
}


body {
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* filter: invert(95%) hue-rotate(-180deg); */
}

.custom_container {
    background-color: #ffffff; /* White background for content */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 15px rgba(0,0,0,0.1); /* Subtle shadow */
    padding: 20px;
}
.custom_header {
    background-color: #007bff; /* Primary color */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0; /* Rounded top corners */
}

.c-link:hover {
    color: #0377f3;
}

.active {
    color: #0377f3;
}

.fab-container{
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

.iconbutton {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    /* box-shadow: 10px 10px 5px #aaaaaa; */
}

.iconbutton i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.button{
    width: 50px;
    height: 50px;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.37);
}

/* Footer section */
footer {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin-top: auto;
    bottom: 0;
    height: fit-content;
    padding: 10px 20px;
    text-align: center;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

footer hr {
    color: var(--secondary-color);
    background-color: var(--accent-color);
    margin: 10px auto;
    width: 80%;
    border: 0;
    height: 2px;
}

footer .bottom {
    text-align: center;
}

html {
    scroll-behavior: smooth; /* smooth scrolling */
}


@media screen and (max-width: 500px) {
    .button{
        width: 35px;
        height: 35px;
    }
    .fab-container{
        right: 20px;
    }
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}